productLabel: {{ .Values.productLabel }}

nodeClassIamRole: {{ .Values.nodeClassIamRole }}
nodeClassName: {{ .Values.nodeClassName }}
nodeClassSecurityGroupId: {{ .Values.nodeClassSecurityGroupId }}
nodeClassEphemeralStorageSize: {{ .Values.nodeClassEphemeralStorageSize }}

nodePoolName: {{ .Values.nodePoolName }}
nodePoolCpuLimit: {{ .Values.nodePoolCpuLimit }}
nodePoolMemoryLimit: {{ .Values.nodePoolMemoryLimit }}
