replicaCount: {{ .Values.podinfo.replicaCount }}
resources:
  limits:
    memory: {{ .Values.podinfo.resources.limits.memory }}
  requests:
    cpu: {{ .Values.podinfo.resources.requests.cpu }}
    memory: {{ .Values.podinfo.resources.requests.memory }}
