ingressName: {{ .Values.ingressName }}

albScheme: {{ .Values.albScheme }}
albTags: {{ .Values.albTags }}
albPorts: {{ .Values.albPorts }}
albHostname: {{ .Values.albHostname }}
albLoadBalancerName: {{ .Values.albLoadBalancerName }}
albSubnets: {{ .Values.albSubnets }}
albCertificateArn: {{ .Values.albCertificateArn }}

serviceName: {{ .Values.serviceName }}
servicePort: {{ .Values.servicePort }}
